.stepProgress {
  margin: 30px;
}

.stepProgress h2.registerTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--main-text);
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  
}

.progressContainer .progressBar {
  display: flex;
  flex-grow: 1;
  max-width: 60px;
  height: 1px;
  margin: 0px 8px;
  border-width: 2px;
  border-style: solid;

}

.progressContainer .progressGroup {
  display: flex;
}

.progressContainer .progressGroup .progressIcon {
  display: inline-block;
  position: relative;
  width: 27px;
  height: 27px;
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid gray;
}

.progressContainer .progressGroup .progressIcon .text {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: inherit;
}

.progressContainer .progressGroup .progressIcon .icon {
  width: inherit;
  height: inherit;
}

.progressContainer .progressGroup .progressLabel {
  font-weight: 400;
  line-height: 24px;
  color: var(--main-text);
}

.registerContainer[data-phase="2"] .progressBar[data-order="1"] {
  border-color: var(--done-progress-border);
}

.registerContainer[data-phase="2"] .progressBar[data-order="2"] {
  border-color: var(--done-progress-border);
}

.registerContainer[data-phase="2"] .progressGroup[data-phase=address] .progressIcon {
  background-color: var(--pg-addr-bg-color);
  border-color: var(--pg-addr-bg-color);
}

.registerContainer[data-phase="2"] .progressGroup[data-phase=address] .progressIcon .text {
  color: var(--pg-addr-color);
}

.registerContainer[data-phase="2"] form[data-phase=address] {
  display: none;
}

.registerContainer[data-phase="2"]~.progressControlContainer .buttonGroup[data-phase=address] {
  display: none;
}

.registerContainer[data-phase="2"] form[data-phase=shipping] {
  display: flex;
}

.registerContainer[data-phase="2"]~.progressControlContainer .buttonGroup[data-phase=shipping] {
  display: flex;
}

.registerContainer[data-phase="2"] form[data-phase=credit-card] {
  display: none;
}

.registerContainer[data-phase="2"]~.progressControlContainer .buttonGroup[data-phase=credit-card] {
  display: none;
}

.registerContainer[data-phase="3"] .progressBar[data-order="1"] {
  border-color: var(--done-progress-border);
}

.registerContainer[data-phase="3"] .progressBar[data-order="2"] {
  border-color: var(--done-progress-border);
}

.registerContainer[data-phase="3"] .progressGroup[data-phase=address] .progressIcon {
  background-color: var(--pg-addr-bg-color);
  border-color: var(--pg-addr-bg-color);
}

.registerContainer[data-phase="3"] .progressGroup[data-phase=address] .progressIcon .text {
  color: var(--pg-addr-color);
}

.registerContainer[data-phase="3"] form[data-phase=address] {
  display: none;
}

.registerContainer[data-phase="3"]~.progressControlContainer .buttonGroup[data-phase=address] {
  display: none;
}

.registerContainer[data-phase="3"] form[data-phase=shipping] {
  display: none;
}

.registerContainer[data-phase="3"]~.progressControlContainer .buttonGroup[data-phase=shipping] {
  display: none;
}

.registerContainer[data-phase="3"] form[data-phase=credit-card] {
  display: flex;
}

.registerContainer[data-phase="3"]~.progressControlContainer .buttonGroup[data-phase=credit-card] {
  display: flex;
}